<div class="container">
  <div class="social-link">
    <a  rel="noopener" href="https://linkedin.com" target="_blank"><img alt="linkedin" src="assets/icons/linkedin.svg"/></a>
    <a rel="noopener" href="https://github.com/IgorMundim" target="_blank"><img alt="github" src="assets/icons/github.svg"/></a>
    <a rel="noopener" href="mailto:exemple@email.com" target="_blank"><img alt="mail" src="assets/icons/mail.svg"/></a>
    <a rel="noopener" href="https://wa.me/5538988479364" target="_blank"><img alt="whatsapp" src="assets/icons/whatsapp.svg"/></a>
    <a rel="noopener" href="https://www.instagram.com/igor.mundim/" target="_blank"><img alt="instagram" src="assets/icons/instagram.svg"/></a>

  </div>
  <div class="author">Igor Mundim</div>
  <div>© Copyright 2024</div>
  <div>All rights reserved. Powered by the
    <strong> AWS</strong>
  </div>
</div>
