<div class="container">
  <div class="contact">
    <img class="flag-planeta" src="assets/banner/planeta.jpeg" alt="Planeta Chevrolet" />
    <a href="tel:+5503836716600">Tel: +55 38-36716600</a>
  </div>
  <div class="container-communication">
    <h2 class="title"> Communication Services – Chevrolet Dealership</h2>
    <div class="description"> Services Manager - Vacation or sick leave coverage.</div>
    <div class="description"> Parts Manager - Vacation or sick leave coverage.</div>
    <div class="description"> Customer Relationship Management CRM - Vacation or sick leave coverage.</div>
    <div class="description"> Cashier Attendant - Vacation or sick leave coverage.</div>
    <div class="description"> Warranty department.</div>
  </div>

  <div class="container-it">
    <h2 class="title"> IT Governance Services – Chevrolet Dealership</h2>
    <div class="description">User Management.</div>
    <div class="description">Remote Help Desk.</div>
    <div class="description">User Training.</div>
    <div class="description">User Support.</div>
    <div class="description">Cost Management.</div>
    <div class="description">Product Acquisition.</div>
    <div class="description">Debian server management.</div>
    <div class="description">Company Management systems support: NBS, Global Connect.</div>
    <div class="description">Support for specific use systems: Mechanical Workshop, Auto Body Repair Services,  Alignment, Time Clock.</div>
    <div class="description">Support Windows XP, 7, 10, Linux Ubuntu, Linux Debian.</div>
    <div class="description">Microcomputer Maintenance.</div>
    <div class="description">Installation and maintenance of wired and wireless networks.</div>
    <div class="description">Installation and Configuration of Hardware and Software for specific use.</div>
  </div>
</div>
