@import '../../dist/scss/variables.scss';
:host {
  font-size: map-get($map: $font-sizes, $key: mediumSmall);

  .container{
      background-color: map-get($map: $colors, $key: secondary);
      border-bottom:  0.1rem solid map-get($map: $colors, $key: third);
      padding: map-get($map: $spacings, $key: xsmall);
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 10;
      overflow: hidden;
  }

  .menu-container{
      background-color: map-get($map: $colors, $key: secondary);
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      padding: map-get($map: $spacings, $key: xxtiny);
      @media (max-width: 460px) {
        width: 98%;
      }
  }

  nav{
    display: block;
  }

  .logo {
    display: block;
  }

  a {
      color: map-get($map: $colors, $key: primary);
      cursor: pointer;
      text-decoration: none;
      margin: 0 map-get($spacings, xxsmall);
      font-size: map-get($map: $font-sizes, $key: mediumSmall);
      font-weight: 600;
      &:hover {
        -webkit-animation: text-shadow-drop-center 0.6s both;
	        animation: text-shadow-drop-center 0.6s both;
      }
      @media (max-width: 460px) {
        margin: 0;
      }

    }
    .active{
      text-shadow: 0 0 18px rgba(0, 0, 0, 1);
      &:hover {
        -webkit-animation: text-shadow-drop-center 0.6s both;
	        animation: text-shadow-drop-center 0.6s both;
      }
    }

    @-webkit-keyframes text-shadow-drop-center {
      0% {
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
      }
      100% {
        text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
      }
    }
    @keyframes text-shadow-drop-center {
      0% {
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
      }
      100% {
        text-shadow: 0 0 18px rgba(0, 0, 0, 1);
      }
    }


}



