<div class="container">
  <div class="title">
  <h3>Development skills</h3>
  <div>Dez - 2023</div>
  </div>
  <div class="skill">
    <h4>Web Standards:</h4>
    <div><img class="svg" src="assets/icons/html.svg" alt="html" />HTML, <img class="svg" src="assets/icons/css.svg" alt="css" />CSS and <img class="svg" src="assets/icons/javascript.svg" alt="JavaScript" />JavaScript.</div>
  </div>
  <div class="skill" >
    <h4>Programming languages:</h4>
    <div>
      <img class="svg" src="assets/icons/java.svg" alt="Java" /><a rel="noopener" href="https://github.com/IgorMundim/ticket-backend-spring-boot" target="_blank">Java</a>,
      <img class="svg" src="assets/icons/python.svg" alt="Python" /><a rel="noopener" href="https://github.com/IgorMundim/ticket_backend" target="_blank">Python</a> and
      <img class="svg" src="assets/icons/typescript.svg" alt="TypeScript" /><a rel="noopener" href="https://github.com/IgorMundim/ticket-backend-node-sql" target="_blank">JavaScript/TypeScript</a>.
    </div>
  </div>

  <div class="skill">
    <h4>Backend Frameworks:</h4>
    <div>
      <img class="svg" src="assets/icons/spring.svg" alt="Spring" /><a rel="noopener" href="https://github.com/IgorMundim/ticket-backend-spring-boot" target="_blank">Spring Boot</a>,
      <img class="svg" src="assets/icons/django.svg" alt="Django" /><a rel="noopener" href="https://github.com/IgorMundim/ticket_backend" target="_blank">Django</a>,
      <img class="svg" src="assets/icons/express.svg" alt="ExpressJS" /><a rel="noopener" href="https://github.com/IgorMundim/ticket-backend-node-sql" target="_blank">ExpressJS</a> and
      <img class="svg" src="assets/icons/graphql.svg" alt="Apollo" /><a rel="noopener" href="https://github.com/IgorMundim/graphql-apollo-server" target="_blank">Apollo GraphQL</a>.</div>
  </div>
  <div class="skill">
    <h4>IaC with AWS CDK:</h4>
    <div>
      <img class="svg" src="assets/icons/aws.svg" alt="AWS" /><a rel="noopener" href="https://github.com/IgorMundim/ServerlessAWS" target="_blank">CloudFormation</a>,
      <img class="svg" src="assets/icons/aws.svg" alt="AWS" /><a rel="noopener" href="https://github.com/IgorMundim/ServerlessAWS/blob/main/lib/ecommerceApi-stack.ts" target="_blank">API Gateway</a>,
      <img class="svg" src="assets/icons/aws.svg" alt="AWS" /><a rel="noopener" href="https://github.com/IgorMundim/ServerlessAWS/blob/main/lib/ecommerceApi-stack.ts" target="_blank">IAM</a>,
      <img class="svg" src="assets/icons/aws.svg" alt="AWS" /><a rel="noopener" href="https://github.com/IgorMundim/ServerlessAWS/tree/main/lambda" target="_blank">Lambda</a>,
      <img class="svg" src="assets/icons/aws.svg" alt="AWS" /><a rel="noopener" href="https://github.com/IgorMundim/ServerlessAWS/tree/main/lambda/products" target="_blank">DynamoDB</a>,
      <img class="svg" src="assets/icons/aws.svg" alt="AWS" /><a rel="noopener" href="https://github.com/IgorMundim/ServerlessAWS/blob/main/lib/auditEventBus-stack.ts" target="_blank">CloudWatch Insights</a>,
      <img class="svg" src="assets/icons/aws.svg" alt="AWS" /><a rel="noopener" href="https://github.com/IgorMundim/ServerlessAWS/blob/main/lib/ordersApp-stack.ts" target="_blank">CloudWatch Alarms</a>,
      <img class="svg" src="assets/icons/aws.svg" alt="AWS" /><a rel="noopener" href="https://github.com/IgorMundim/ServerlessAWS/blob/main/lambda/invoices/invoiceEventsFunction.ts" target="_blank">X-Ray</a>,
      <img class="svg" src="assets/icons/aws.svg" alt="AWS" /><a rel="noopener" href="https://github.com/IgorMundim/ServerlessAWS/blob/main/lib/productsApp-stack.ts" target="_blank">SNS</a>,
      <img class="svg" src="assets/icons/aws.svg" alt="AWS" /><a rel="noopener" href="https://github.com/IgorMundim/ServerlessAWS/blob/main/lib/productsApp-stack.ts" target="_blank">SQS</a>,
      <img class="svg" src="assets/icons/aws.svg" alt="AWS" /><a rel="noopener" href="https://github.com/IgorMundim/ServerlessAWS/blob/main/lib/auditEventBus-stack.ts" target="_blank">EventBridge</a> and
      <img class="svg" src="assets/icons/aws.svg" alt="AWS" /><a rel="noopener" href="https://github.com/IgorMundim/ServerlessAWS/blob/main/lambda/orders/orderEmailsFunction.ts" target="_blank">SES</a>.
    </div>
  </div>
  <div class="skill">
    <h4>Cloud:</h4>
    <div>
      <img class="svg" src="assets/icons/aws.svg" alt="AWS" />IAM,
      <img class="svg" src="assets/icons/aws.svg" alt="AWS" />VPC,
      <img class="svg" src="assets/icons/aws.svg" alt="AWS" />API Gateway,
      <img class="svg" src="assets/icons/aws.svg" alt="AWS" />EC2,
      <img class="svg" src="assets/icons/aws.svg" alt="AWS" />EBS,
      <img class="svg" src="assets/icons/aws.svg" alt="AWS" />CloudWatch,
      <img class="svg" src="assets/icons/aws.svg" alt="AWS" />SNS,
      <img class="svg" src="assets/icons/aws.svg" alt="AWS" />S3 and
      <img class="svg" src="assets/icons/aws.svg" alt="AWS" />Route 53</div>
  </div>
  <div class="skill">
    <h4>Backend Architecture:</h4>
    <div>Monolithic and <a rel="noopener" href="" target="_blank">API Architecture</a>.</div>
  </div>
  <div class="skill">
    <h4>Frontend Frameworks:</h4>
    <div>
      <img class="svg" src="assets/icons/angular.svg" alt="AngularJS" /><a rel="noopener" href="https://github.com/IgorMundim/angular-17" target="_blank">AngularJS</a> and
      <img class="svg" src="assets/icons/react.svg" alt="ReactJS" /><a rel="noopener" href="https://github.com/IgorMundim/ticket_frontend" target="_blank">ReactJS</a>.</div>
  </div>
  <div class="skill">
    <h4>Front Architecture:</h4>
    <div><a rel="noopener" href="https://github.com/IgorMundim/airbnb" target="_blank">SPA</a>, <a rel="noopener" href="https://github.com/IgorMundim/ticket_frontend" target="_blank">SSR</a> and ISR.</div>
  </div>
  <div class="skill">
    <h4>QA:</h4>
    <div>
      <img class="svg" src="assets/icons/test.svg" alt="test" /><a rel="noopener" href="https://github.com/IgorMundim/ticket-backend-spring-boot/tree/main/src/test" target="_blank">Spring Boot - JUnit with mockito</a>,
      <img class="svg" src="assets/icons/test.svg" alt="test" /><a rel="noopener" href="https://github.com/IgorMundim/ticket-backend-node-sql/tree/main/tests" target="_blank">Django - PyTest</a>,
      <img class="svg" src="assets/icons/test.svg" alt="test" /><a rel="noopener" href="https://github.com/IgorMundim/ticket_backend/tree/main/event/tests" target="_blank">ExpressJS - Jest & Supertest</a>,
      <img class="svg" src="assets/icons/test.svg" alt="test" />React - Jest & Testing Library
    </div>
  </div>
  <div class="skill">
    <h4>Project management:</h4>
    <div><img class="svg" src="assets/icons/scrum.svg" alt="Scrum" />Scrum.</div>
  </div>
  <div class="skill">
    <h4>SQL:</h4>
    <div>
      <img class="svg" src="assets/icons/mysql.svg" alt="MySQL" /><a rel="noopener" href="https://github.com/IgorMundim/ticket-backend-spring-boot/blob/main/src/main/resources/application.yml" target="_blank">MySQL</a> and
      <img class="svg" src="assets/icons/postgresql.svg" alt="PostgreSQL" /><a rel="noopener" href="https://github.com/IgorMundim/ticket-backend-node-sql/blob/main/src/provider/Connection.ts" target="_blank">PostgreSQL</a>.</div>
  </div>
  <div class="skill">
    <h4>NoSQL:</h4>
    <div><img class="svg" src="assets/icons/mongo.svg" alt="MongoDB" />MongoDB and
      <img class="svg" src="assets/icons/dynamodb.svg" alt="DynamoDB" /><a rel="noopener" href="https://github.com/IgorMundim/ServerlessAWS/tree/main/lambda/products" target="_blank">DynamoDB</a>.</div>
  </div>
</div>
