@import '../../../dist/scss/variables.scss';
:host {
  .container-profile {
    width: 80%;
    margin: 9rem auto 5rem auto;
    overflow: hidden;
    @media (max-width: 768px) {
      width: 95%;
    }
  }

  .container-basic{
    width: 90%;
    margin: 5rem auto;
    @media (max-width: 768px) {
      width: 95%;
    }
  }

}
