
<div class="container">
  <h3 class="title">My Test Projects</h3>
  <div class="container-second-title">
    <h4>Backend</h4>
    <img *ngIf="!show" (click)="showBackend(true)" src="assets/icons/show-more.svg" alt="show-more">
    <img *ngIf="show" (click)="showBackend(false)" src="assets/icons/show-less.svg" alt="show-less">
  </div>
  <div class="product-cards" *ngIf="show">
    <div *ngFor="let product of productsBackend;">
      <app-card [product]="product"></app-card>
    </div>
  </div>
  <div class="container-second-title">
    <h4>IaC</h4>
    <img *ngIf="!awsCDK" (click)="showAwsCDK(true)" src="assets/icons/show-more.svg" alt="show-more">
    <img *ngIf="awsCDK" (click)="showAwsCDK(false)" src="assets/icons/show-less.svg" alt="show-less">
  </div>
  <div class="product-cards" *ngIf="awsCDK" >
    <div *ngFor="let product of productsAwsCDK;">
      <app-card [product]="product"></app-card>
    </div>
  </div>
  <div class="container-second-title">
    <h4>Frontend</h4>
    <img *ngIf="!frontend" (click)="showFrontend(true)" src="assets/icons/show-more.svg" alt="show-more">
    <img *ngIf="frontend" (click)="showFrontend(false)" src="assets/icons/show-less.svg" alt="show-less">
  </div>
  <div class="product-cards" *ngIf="frontend">
    <div *ngFor="let product of productsFrontend;">
      <app-card [product]="product"></app-card>
    </div>
  </div>
</div>
