<div class="container">
  <div class="about">
    <div class="details" (mouseover)="eventMaster(false)" (mouseleave)="eventMaster(true)" >
      <img class="flag-puc" src="assets/profile/icons/puc.png" alt="pucminas" />
      <a rel="noopener" href="https://web.sistemas.pucminas.br/GAD/DOC/Verificador/Consulta/F2E08F4AE2A901D836D30FFBE45778C9" target="_blank">
      <p *ngIf="master"class="text">Master Degree - Full Stack Web.</p>
      <p *ngIf="!master" class="about-grad">
        Click here for more details
        </p>
      </a>
    </div>

    <div class="details" (mouseover)="eventGraduate(false)" (mouseleave)="eventGraduate(true)">
      <img class="flag-iftm" src="assets/profile/icons/IFTM.png" alt="iftm" />
      <a rel="noopener" href="https://iftm.edu.br/cursos/paracatu/tecnologo/analise-e-desenvolvimento-de-sistemas/" target="_blank">
      <p *ngIf="graduate" class="text">Graduate - Analysis and systems development.</p>
      <p *ngIf="!graduate" class="about-grad">
        Click here for more details
      </p>
    </a>
    </div>

    <div class="details" (mouseover)="eventTechnique(false)" (mouseleave)="eventTechnique(true)">
      <img class="flag-iftm" src="assets/profile/icons/IFTM.png" alt="iftm" />
      <a rel="noopener" href="https://iftm.edu.br/cursos/paracatu/tecnico-integrado/informatica/" target="_blank">
      <p *ngIf="technique"class="text" class="text">Technique - Computer Technician.</p>
      <p *ngIf="!technique" class="about-grad">
          Click here for more details
        </p>
      </a>
    </div>


    <div class="details" (mouseover)="eventEnglish(false)" (mouseleave)="eventEnglish(true)">
      <img class="flag-english" src="assets/profile/icons/english.png" alt="english" />
      <a rel="noopener" >
      <p *ngIf="english"class="text">English - B2</p>
      <p *ngIf="!english" class="about-grad">
        Can understand the essential content of concrete or abstract topics in a complex text.
      </p>
    </a>
    </div>


  </div>
  <div class="profile">
    <img class="image-profile" src="assets/profile/icons/profile.png" alt="Forest" />
    <img class="image-tag" src="assets/profile/icons/tag2.png" alt="Forest" />
    <div class="author">Igor Mundim</div>
  </div>
</div>
