@import '../../dist/scss/variables.scss';
.container{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto 25rem;
    gap: map-get($map: $spacings, $key: xxsmall );
    overflow: hidden;
}
.about {
    display: grid;
    position: relative;
    row-gap:map-get($map: $spacings, $key: mediumLarge );
    align-content: center;
  }


  .details {
    display: flex;
    cursor: pointer;
    height: 8rem;
    a{
      display: flex;
      align-items: center;
    }
  }
  .about-grad {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin-left: 2rem;
    animation: rotate-in-hor .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .text {
      margin-left: 2rem;
      font-size: 2rem;
	    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .flag-puc {
      width: 8rem;
	    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  }

  .flag-iftm {
    width: 8rem;
    min-width: 8rem;
    padding: 1rem;
	  animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  .flag-english {
    width: 8rem;
    padding: 1rem;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .profile {
    position: relative;
    display: flex;
    justify-content: center;
    height: 25rem;
    cursor: pointer;
  }

  .image-profile {
    position: absolute;

    top: -5rem;
    width: 22.5rem;
    height: 22.5rem;
    border-radius: 4.8rem;
    animation: heartbeat 25s ease-in-out infinite both;
    animation-delay: 5s;
  }
  .image-tag{
    position: absolute;
    bottom: 5rem;
    width: 100%;
    animation: heartbeat 25s ease-in-out infinite both;
    animation-delay: 5s;
    &:hover{
      animation: heartbeat 3s ease-in-out infinite both;
    }

  }
  .author {
    position: absolute;
    bottom: 5.4rem;
    margin-left: map-get($map: $spacings, $key: xxsmall );
    grid-column: 1 / 3;
    color:map-get($map: $colors, $key: primary );
    font-size: map-get($map: $spacings, $key: medium);
    font-weight: 500;
  }

  @keyframes slide-top {
    0% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes slide-bottom {
    0% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes slide-bottom-profile {
    0% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes slide-left {
    0% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes slide-right {
    0% {
      transform: translateX(-50px);
    }
    100% {
      transform: translateX(0px);
    }
  }



  @keyframes heartbeat {
    from {
              transform: scale(1);
              transform-origin: center center;
              animation-timing-function: ease-out;
    }
    10% {
              transform: scale(.95);
              animation-timing-function: ease-in;
    }
    17% {
              transform: scale(1);
              animation-timing-function: ease-out;
    }
    33% {
              transform: scale(.95);
              animation-timing-function: ease-in;
    }
    45% {
              transform: scale(1);
              animation-timing-function: ease-out;
    }
  }

  @keyframes rotate-in-hor {
    0% {
      transform: rotateX(360deg);
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
