@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');
@import  './dist/scss/variables.scss';

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  color: map-get($map: $colors, $key: primary);
  font-family: map-get($map: $font-family, $key: primary), 'Courier New', Courier, monospace;
  @media (max-width: 460px) {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  color: map-get($map: $colors, $key: primary);
  font-family: map-get($map: $font-family, $key: primary), 'Courier New', Courier, monospace;
  background-color: #333333;
  @media (max-width: 460px) {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }
}

